venv
*.pt
.png
.env
stan/.env
__pycache__
modular_addition/exp_params/
checkpoints/
*/__pycache__
modular_addition/frames
modular_addition/movies
modular_addition/models
modular_addition/plots/old_plots
*.ppng
wandb/
stan/wandb
frames
models
modular_addition